<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head >
  
</head>
<body>

<div  th:fragment="footerScripts" >
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/jquery.validate.min.js}"></script>
<script th:src="@{/resources/js/additional-methods.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resources/js/adminlte.min.js}"></script>

<script th:src="@{/resources/js/Chart.min.js}"></script>
<script th:src="@{/resources/js/demo.js}"></script>

<script th:src="@{/resources/js/jquery.qrcode.min.js}"></script>


<script th:src="@{/resources/js/bitLink.js}"></script>




</div>

</body>
</html>