<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
 
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}"   id="bootstrap-css" />
 
 
  <link rel="stylesheet" th:href="@{/resources/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/resources/css/ionicons.min.css}">
  <link rel="stylesheet" th:href="@{/resources/css/adminlte.min.css}">
  <!-- <link rel="stylesheet" th:href="@{/resources/css/fonts.googleapis.css}" > -->
  
  <style type="text/css">
  .error{
  color:red;
  font-weight: 300 !important;
  }
  </style>
  
  
</head>
<body></body>
</html>